<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message Board</title>
  </head>
  <body>
    <% if (user) { %>
    <h1>Welcome back, <%= user.username %>!</h1>
    <p>Here is the message board!</p>
    <a href="/log-out">LOG OUT</a>
    <a href="/message-form">POST MESSAGE</a>
    <% } else { %>
    <h1>Please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <a href="/sign-up">SIGN-UP</a>

    <% } %>

    <h2>Messages</h2>
    <% if (messages && messages.length > 0) { %>
    <ul>
      <% messages.forEach(function(message) { %>
      <li>
        <% if (user) { %>
        <strong>Author:</strong> <%= message.author.username %><br />
        <em>Date:</em> <%= message.date.toDateString() %><br />
        <% } %>
        <strong>Title:</strong> <%= message.title %><br />
        <strong>Message:</strong> <%= message.message %><br />
        <% if (user && user.status === 'admin') { %>
        <form action="/delete-message" method="POST">
          <input type="hidden" name="messageId" value="<%= message._id %>" />
          <button type="submit">Delete</button>
        </form>

        <% } %>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No messages yet.</p>
    <% } %>
  </body>
</html>
